
.hero {
    position: relative;
    height: 80vh;
    &.hero--short {
        height: 40vh;
    }
    width: 100%;
    isolation: isolate;
    display: flex;
    align-items: flex-end;
    &__background {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }
    // &__background-overlay {
    //     position: absolute;
    //     inset: 0;
    //     background-color: hsl(var(--hsl-blue-900) / 0.6);
    //     z-index: -1;
    // }
    &__content {
        padding: 2rem 2rem 1rem 0;
        // background-color: var(--_theme-bg);
        max-width: 80ch;
    }

    h1 {
        font-size: var(--fs-800);
        font-weight: var(--fw-600);
        line-height: 1;
        color: var(--_theme-fg);
        padding-bottom: 0.5rem;
    }
    h2 {
        font-size: var(--fs-500);
        font-weight: var(--fs-600);
    }

}